root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab

# Batch files use tabs for indentation
[*.bat]
indent_style = tab

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false

# Use 4 spaces for the Python files
[*.py]
indent_size = 4
max_line_length = 80

# Minified JavaScript files shouldn't be changed
[**.min.js]
indent_style = ignore
insert_final_newline = ignore

# all other js/ts/json
[*.{js,jsx,json,ts,tsx,yml}]
indent_size = 2
indent_style = space
